@model GameOfLife.Models.Game

@{
    ViewBag.Title = "Play";
}

<h2>Play</h2>

<a href="" id="play-game" class="btn btn-primary">Start</a>
<a href="" id="stop-game" class="btn btn-primary disabled">Stop</a>

Speed <input id="speed" type="range" />

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div id="cellstring"></div>
        <div id="game-wrapper">
            <canvas id="game"></canvas>
        </div>
        <script>
            $('#game').paintgame({
                height: @Model.Height,
                width: @Model.Width,
                cells: "@Model.Cells",
                liveCell: ['#EE4266', '#FFD23F', '#FFFFFF', '#4392F1', '#EDC9FF']
            });
        </script>
    </div>
</div>

<script>
    $(document).ready(function()
    {
        var play = $("#play-game"),
            stop = $("#stop-game"),
            speed = $('#speed').val(),
            intervalID;

        play.click(function(e)
        {
            e.preventDefault();
            play.addClass("disabled");
            stop.removeClass("disabled");

            intervalID = setInterval(function()
            {
                $.post("@Url.Action("PlayTurn", new { id = Url.RequestContext.RouteData.Values["id"] })", function(data)
                {
                    $('#cellstring').text(data);
                    $('#game').remove();
                    $('#game-wrapper').append('<canvas id="game"></canvas>');

                    $('#game').paintgame({
                        height: @Model.Height,
                        width: @Model.Width,
                        cells: data,
                        liveCell: ['#EE4266', '#FFD23F', '#FFFFFF', '#4392F1', '#EDC9FF']
                    });
                });
            }, 1000);
        });

        stop.click(function(e)
        {
            e.preventDefault();
            play.removeClass("disabled");
            stop.addClass("disabled");

            clearInterval(intervalID);
        });
    });
</script>