@model GameOfLife.Models.Game

@{
    ViewBag.Title = "Play";
}

<div class="game-area">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="pull-center">Play: @Model.Name</h1>
        </div>
    </div>

    <div id="game-wrapper">
        <canvas id="game"></canvas>
    </div>

    <div class="row game-controls hidden-xs">
        <div class="col-sm-6 col-sm-offset-3 col-xs-6 pull-center">
            <a href="" id="play-game" class="btn btn-success">Start</a>
            <a href="" id="stop-game" class="btn btn-danger disabled">Stop</a>
        </div>
        <div class="col-sm-3 col-xs-6">
            @Html.ActionLink("Save to Account", "Save", "SavedGames", new { id = Model.Id }, new { @class = "btn btn-info pull-right" })
        </div>
    </div>
    <div class="row game-controls hidden-sm hidden-md hidden-lg">
        <div class="col-xs-12 pull-center">
            <a href="" id="play-game" class="btn btn-success">Start</a>
            <a href="" id="stop-game" class="btn btn-danger disabled">Stop</a>
            @Html.ActionLink("Save", "Save", "SavedGames", new { id = Model.Id }, new { @class = "btn btn-info" })
        </div>
    </div>
</div>

<script>
    $('#game').paintgame({
        height: @Model.Height,
        width: @Model.Width,
        cells: "@Model.Cells",
        liveCell: ['#FFFFFF', '#DDDDDD', '#BBBBBB'],
        fit: 'both',
    });

    $(document).ready(function()
    {
        $('html, body').show().delay(500).animate({
            scrollTop: $('.game-area').offset().top + 50
        }, 1000);

        var play = $("#play-game"),
        stop = $("#stop-game"),
        speed = $('#speed').val(),
        intervalID;

        play.click(function(e)
        {
            e.preventDefault();
            play.addClass("disabled");
            stop.removeClass("disabled");

            intervalID = setInterval(function()
            {
                $.post("@Url.Action("PlayTurn", new { id = Url.RequestContext.RouteData.Values["id"] })", function(data)
                {
                    $('#cellstring').text(data);
                    $('#game').remove();
                    $('#game-wrapper').append('<canvas id="game"></canvas>');

                    $('#game').paintgame({
                        height: @Model.Height,
                        width: @Model.Width,
                        cells: data,
                        liveCell: ['#FFFFFF', '#DDDDDD', '#BBBBBB'],
                        fit: 'both',
                    });
                });
            }, 1000);
        });

        stop.click(function(e)
        {
            e.preventDefault();
            play.removeClass("disabled");
            stop.addClass("disabled");

            clearInterval(intervalID);
        });
    });
</script>