@using Microsoft.AspNet.Identity

<header>
    <img class="clouds-top" id="cloud5" src="~/Resources/img/cloud1.png" />
    <img class="clouds-top" id="cloud6" src="~/Resources/img/cloud2.png" />
    <img class="clouds-top" id="cloud7" src="~/Resources/img/cloud3.png" />
    <div class="navbar">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Home", "Index", "Templates", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Templates", "Index", "Templates")</li>*@
                    <li>@Html.ActionLink("Active Games", "Index", "Games")</li>
                </ul>
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()

                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@User.Identity.GetUserName() <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("My Saved Games", "Index", "SavedGames")</li>
                                    <li>@Html.ActionLink("My Templates", "MyTemplates", "Templates")</li>
                                    <li>@Html.ActionLink("Account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    }
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                    </ul>
                }
            </div>
        </div>
    </div>

    <div class="header-title">
        @if (@ViewBag.Title != "Home")
        {
            <h1>Game of Life</h1>
            if (ViewBag.Quote != null)
            {
                <div class="quote">
                    <div class="quote-body">
                        "@ViewBag.Quote.Body"
                    </div>
                    <div class="quote-author">
                        - @ViewBag.Quote.Author
                    </div>
                </div>
            }
        }
    </div>
</header>