<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @if (@ViewBag.Title != "Home")
    {
        <title>Game Of Life | @ViewBag.Title</title>
    }
    else
    {
        <title>Game Of Life</title>
    }

    <link href="~/Content/style.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/favicon.ico" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://npmcdn.com/packery@2.1/dist/packery.pkgd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="~/Scripts/script.min.js"></script>
</head>
<body id="@(Request.Url.AbsolutePath == "/" ? "home" : "")">
    <div class="no-overflow">
        @if (Request.Url.AbsolutePath != "/")
        {
            @Html.Partial("_Header")
        }

        <div id="loading"></div>

        <div class="container body-content">
            @if (@ViewBag.Title != "Home")
            {
                <div class="row">
                    <div class="col-xs-12">
                        <h1>@ViewBag.Heading</h1>
                    </div>
                </div>

                @Html.Partial("_Clouds")
            }

            @RenderBody()
        </div>

        @Html.Partial("_Footer")

        <script src="~/Scripts/init.js"></script>
    </div>
</body>
</html>
